<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Buy/Sell</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if(!user){ %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
         
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Min Price" aria-label="Search">
          <input class="form-control mr-sm-2" type="search" placeholder="Mix Price" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <% } else{ %> 
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/add_items">ADD ITEMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_items">MY ITEMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/messages">MESSAGES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favourite">FAVORITES</a>
      </li>
      <li class="nav-item">
        <form action="/logout" method="post">
        <button type="submit" class="nav-link">LOGOUT</a>
        </form>
      </li>
    </ul>
    <% } %>
  </div>
</nav>
