.sold-out-image {
  position: absolute;
  left: 0px;
  width: 120px;
  height: auto;
  z-index: 999;
}

.heart-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart-icon {
  color: #f50f0f;
  font-size: 24px;
}

.heart-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
