.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-left: 0px;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
}

.card-link {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.card-link:hover {
  text-decoration: underline;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  float: none;
  margin-right: 0;
  border-radius: 5px;
}

.description-label {
  font-size: 18px;
  color: #555;
}

.big-div {
  font-size: 20px;
}

.item {
  width: 500px;
  margin-left: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.itemImage {
  width: 700px;
  height: 10000px;
  margin-left: 100px;

}

.price {
  margin-top: 20px;
  font-size: 20px;
}

.form-control {
  padding: 10px;
  height: auto;
}

.favorite-form {
  margin: 20px auto;
  padding: 0;
  text-align: center;
}

.desc {
  font-size: 20px;
  margin: 10px 0;
}

.size {
  font-size: 20px;
  margin: 10px 0;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:active {
  background-color: #004085;
  transform: scale(0.98);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

.btn-large {
  width: 100%;
  max-width: 850px;
  height: 50px;
  font-size: 18px;
  padding: 10px 20px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 100%;
}



@media only screen and (min-width: 1024px)  {

  .itemImage {
    width: 600px;
    height: 600px;
    margin-left: 250px;

  }

  .card-title {
    margin-left: 250px;
  }

  .item {
    width: 400px;
    height: 550px;
    margin-left: 600px;
  }

  .favorite-form {
    margin-top: 5px;
    margin-left: 350px;
  }
}

@media only screen and (max-width: 1023px) {
  .item {
    width: 86%;
    margin: 40px auto 25px auto;
  }

  .itemImage {
    width: 800px;
    height: 800px;
    margin: 0 auto 25px auto;
    margin-left: 50px;
  }

  .favorite-form {
    margin-top: 10px;
    margin-left: 700px;
  }

  .price, .size, .desc {
    margin-left: 5px;
  }
  .card-title {
    margin-left: 50px;
  }
}


