.no-padding {
  padding: 0;
}

.search-form-container {
  padding-right: 215px; //84px
  padding-top: 10px;
}

.box-containt {
  padding-left: 200px;
  /*  left side 70px*/
  padding-right: 200px;
}

.search-form {
  margin-left: auto;
}

.sold-out-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: auto;
  z-index: 999;
}

.card-title {
  position: relative;
  padding: 5px 0 2px 0;
  min-height: 80px;
  font-size: 16px;
  vertical-align: baseline;
}
