.no-padding {
  padding: 0; /* Reset padding */
}

.search-form-container {
  // display: flex;
  // justify-content: flex-end;
  padding-right: 84px; 
  padding-top: 10px; /* Padding on the top side */
}

.box-containt {
  padding-left: 70px; /* Adjust the padding on the left side */
  padding-right: 70px; /* Adjust the padding on the right side */
}

.search-form {
  margin-left: auto; /* Push form to the right */
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card:hover .card-img-top {
  filter: brightness(80%); 
}

.card:hover .card-title {
  color: #1257a1; 
}
