.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin-bottom: 20px;
}

.card-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
}

.card-link {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.card-link:hover {
  text-decoration: underline;
}

.bi-heart-fill {
  color: red;
  margin-right: 5px;
}